html {
	background-color: #020507;
	color: #716e7a;
}

h1 {
	padding: 0px;
	padding-right: 20px;
	font-family: "Dejavu sans mono", dejavu, monospace;
	margin: auto;
	text-align: center;
	color: #15326c;	
}

ul {
	/*border-style: solid;
	border-width: 2px;
	border-color: #9c7341;*/
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #5e8d87;	
}
a:hover {
	color: #6ea6ff;
}

.leftcolumn {
	padding: 0;
	float: left;
	width: 33%;
	height: 80%;
	text-align: center;
	vertical-align: middle;
}

.centercolumn {
	padding: 0;
	display: inline-block;
	width: 33%;
	height: 80%;
	text-align: center;
	vertical-align: middle;
}

.rightcolumn {
	padding: 0;
	float: right;
	width: 33%;
	height: 80%;
	text-align: center;
	vertical-align: middle;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
